body {
  background-color: #2d3250;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown {
  background: #662549;
}

.search-button {
  background-color: #49243e;
}

.filter-button {
  background-color: #bb8493;
}
.filter-button:hover {
  background-color: #dbafa0;
}

#filter-form {
  background-color: #704264;
}
